* {
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
img {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
}
.box {
  display: flex;
}
.text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  max-width: 50%;
  max-height: 50%;
  padding: 30px;
  color: #fff;
  background: #000;
  overflow: hidden;
}
